body {
    background-color: #d3d3d3;
    margin: 50px ;
    font-family: 'Work Sans', sans-serif;
    
}
@media screen and (min-width: 768px) {

    .empty {
        margin-top: 220px;
    }
    .readmore {
        margin-bottom: 0;
    }
    .flex-direction {
        flex-direction: column;
    }
    .imgleft {
        height: 450px;
        margin: 40px;

    }
    .photon {
        width: 210px;
        height: 210px;
       }
    .upbutton {
        margin: 0 0 0 0;
    }
    .cnt {
        margin: 0 10px;
    }
    .cntr {
        margin: 0 10px 0 0;

    }

}

@media screen and (max-width: 768px){
    .btn {
        flex-direction: column;
        text-align: center;
    }
    button {
        padding: 10px 0;
    }
    main {
        flex-direction: column;

        text-align: center;
    }
    .empty {
        padding: 50px;
    }

    .flex-direction
    {
        flex-direction: row;
        flex: 1;

    }
    .info {
        flex-wrap: wrap;
    }

    .card3 {
        flex-direction: column;
    }
    .imgleft {

        display: none;
    }
    .textright {
        text-align: center;
        margin: 0 20px;
    }
    aside{
        display: flex ;
        flex-wrap: no-wrap;
        align-items: center;
        justify-content: center;
        
    }    
    .photon {
        width: 28vh;
        height: 28vh;
    }
    .one {
        margin-right: 20px;
    }
    .upbutton, .card2 {
        margin-bottom: 10px;
    }
    .upbutton {
        margin-left: 0;
        margin-right: 0;
    }


}

@media screen and (max-width: 500px) {
    .btn {
        flex-direction: column;
        text-align: center;
    }
    .info {
        flex-direction: column;
        text-align: center;
    }
    .section {
        flex-direction: column;

        text-align: center;
    }  
        .flex-direction{
        flex-direction: column;

        text-align: center;
    }
    .h1, .h3a, .readmore{   
   
       
        margin-left: 0px;
    }
  
  .img {
    text-align: left;
   
} 
   .photon {
    width: 210px;
    height: 210px;
   }
 
  .imgleft {
    display: none;

}
  .textright {
    text-align: center;
    margin: 0px 20px;

    }
  aside{
    display: flex ;
    flex-wrap: no-wrap;
    align-items: center;
    justify-content: center;
    
    
  }
  .one {
    margin-right: 0;
  }
  .upbutton, .card2 {
    margin-bottom: 20px;
}
.upbutton {
    margin-left: 0;
    margin-right: 0;
}
}

button {
    color: #545454;
    background-color: #ddd;
    font-size: larger;
    text-align: center;
    margin: 10px;
    height: 50px;
    flex: 1;
    border: none;
    box-shadow: 0 0 5px 3px #bdbebd; 
   
    
}
.upbutton {
    animation: buttonup 2s ease-in-out;
}

.rgt {
 animation: rgt 2s ease-in-out;
}
.lft {
animation: lft 2s ease-in-out;
}
   
.btn{
    display: flex;
    margin-bottom: 25px;


}

button:hover {
    background-color: #2c2c2c;
    color: white;
    
}
.readmore {
    border: 1px solid #2c2c2c;
    background-color: #2c2c2c;
    color: white;
    width: 130px;
    height: 45px;
    font-size: medium;
    box-shadow: none;
    margin-left: 40px;
  margin-bottom: 40px;
}
.img {
    background-image: url(https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg);
    width: 100%;
    height: 600px;
    background-size: cover;
    margin: 0 20px 20px 0;
    flex: 2.5;
}
.h1 {
    color: white;
    font-size: 3em;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 0;
}
.h3a {
    margin-left: 40px;
    margin-bottom: 0;
    font-size: 20px;
    color: white;
    
}
.card {
    color: #2c2c2c;
    background-color: #ddd;
    text-align: center;
    flex: 1;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 3px #bdbebd;
}
main {
    display: flex;
}
.flex-direction {
    flex: 1;
    display: flex;
}
.bownow {
    box-shadow: none;
    background-color: #2c2c2c;
    color: white;
    font-size: medium;
    width: 120px;
    height: 40px;


}
.mo {
    margin-top: 60px;
    font-size: 2.4em;

    
}
.membership {
    font-size: larger;
    font-weight: bolder;
    margin-top: 50px;
}
.card2 {
    color: #2c2c2c;
    background-color: #ddd;
    box-shadow: 0 0 5px 3px #bdbebd;
    text-align: center;
   
}
.info {
    display: flex;
}
.p {
    font-size: larger;
}
.h4 {
    font-size: larger;
}
.h42 {
    font-size: larger;
}
.h43{
    font-size: larger;
}
.h44 {
    font-size: larger;
}
.learnmore {
    border: 1px solid #2c2c2c;
    background-color: #2c2c2c;
    color: white;
    width: 130px;
    height: 45px;
    font-size: medium;
    box-shadow: none;
}
.card3 {
    color: #2c2c2c;
    background-color: #ddd;
    margin: 20px;
    box-shadow: 0 0 5px 3px #bdbebd;
    margin-left: 0;
    margin-right: 0;
   

}

.card3 {
    display: flex;
}
.imgleft {
    background-image: url(https://images.pexels.com/photos/3184418/pexels-photo-3184418.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.textright {
    flex: 1;
}
footer{
    border: 1px solid #2c2c2c;
    background-color: #2c2c2c;
    height: 90px;
    margin: 20px 0px;
}
.margarita {
    padding-top: 12px;
    color: white;
    font-size: larger;
    text-align: center;
}
.photon {
    background-size: cover;
    background-position: center;
    margin: 10px;
    box-shadow: 0 0 5px 3px #bdbebd;
    

}
aside {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 5px 3px #bdbebd;
    background-color: #ddd;
    margin-bottom: 20px;
    
}
.h2{
    margin-top: 50px;
}
.p2 {
    font-size: large;
}


i {
    margin-top: 20px;
}
.card2 p{
    font-size: large;
    text-align: center;
    margin: 0 40px 20px 40px;
}
.card2 h4{
    margin: 20px 0 20px 0;
}





@keyframes buttonup {
    0% {
        transform: translateY(-300%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes rgt{
    0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes lft{
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(0);
    }
}

